
   .alert{
    display: block;
    padding: 12px 20px;
    background: #f8d7da;
    color: #721c24;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    font-family: 'Indie Flower';
}

body{
    background:url("imagenes/fondo.jpg");
    margin:0;
    font-size: 16px;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    background: #fff;
    padding: 40px;
    margin: 20px auto;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
    border-radius:20px;
	box-shadow:0 0 40px -10px #000;
	margin:calc(33vh - 220px) auto;
	padding:20px 30px;
    max-width:calc(100vw - 33px);
    box-sizing:border-box;
}

.contenedor h1{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
    color: #3c015e;
}

.contenido{
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
}

.contenido .info,
.contenido .formulario{
    width: 50%;
}

/* ===========================================
Estilos info
============================================== */
.contenedor h1{
    font-family: 'Indie Flower';
}
.info{
    padding-left: 10px;
}

.info .col{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    font-size: 16px;
    align-items: center;
    flex-wrap: nowrap;
    font-family: 'Indie Flower';
}

.info .col .icono{
    color:#3c015e;
    margin-right: 10px;
}

.info .col p{
    color: #999;
}



/* ===========================================
Estilos formulario
============================================== */

.formulario{
    padding-left: 250px;
}

.formulario input[type='text'],
.formulario input[type='number'],

.formulario textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 20px;
    border: 1px solid #999;
    color: #999;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    outline: 0;
}

.formulario textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 200px;
}
.formulario input[type='number']:focus,
.formulario input[type='text']:focus,
.formulario textarea:focus{
    border: 1px solid #15CF8A;
}

.formulario button {
    padding: 12px 30px;
    border: transparent;
    background: #15CF8A;
    color: #fff;
    cursor: pointer;
    float: right;
    margin: 5px;
    
}

.boton2 button {
    padding: 12px 30px;
    border: transparent;
    background: #1528cf;
    color: #fff;
    cursor: pointer;
    float: left;
    margin: 5px;
    
}


@media (max-width: 520px){
   .contenedor{
       padding: 40px 20px;
   }

   .contenido .info,
   .contenido .formulario{
       width: 100%;
       padding: 0px;
   }

   .contenido .info{
       margin-bottom: 30px;
   }
}

@media (max-width: 800px){
  
    .contenido .info,
    .contenido .formulario{
        width: 100%;
        padding: 0px;
    }
 
    .contenido .info{
        margin-bottom: 30px;
    }
 }