*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	
    font-family: 'Indie Flower';
}

.contenedor{
    width: 100%;
    max-width: 1000px;
    background: #fff;
    padding: 175px;
    margin: 3px auto;

    border-radius:20px;
	box-shadow:0 0 40px -10px #000;
	margin:calc(33vh - 220px) auto;
	padding:20px 30px;
    max-width:calc(100vw - 33px);
    box-sizing:border-box;
}

.info{
    padding-left: 10px;
}

.info .col{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    font-size: 16px;
    align-items: center;
    flex-wrap: nowrap;
}
