*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	
	font-family:'Montserrat',sans-serif;

}
#logo img{
    width:126px;
     height:106px;
    margin-left: 43%;
}
@media only screen and (min-width:324px) and (max-width:800px){
    #logo img{
        margin-left: 33%;
    }
}
 
/*menu ----------------*/
.wrap{
	width: 800px;
	max-width: 90%;
	margin: 0px auto;

}

ul.tabs{
	width: 100%;
	background: #3c015e;
	list-style: none;
	display: flex;
}

ul.tabs li{
	width: 18%;
}

ul.tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	display: block;
	padding: 20px 0px;
}

.active{
	background: #c4c724;
}

ul.tabs li a .tab-text{
	margin-left: 8px;
}

.secciones{
	width: 100%;
	background: #fff;
	border-radius:0px;
	box-shadow:0 0 40px -10px #000;
	margin:calc(33vh - 220px) auto;
	padding:20px 30px;
    max-width:calc(100vw - 33px);
    box-sizing:border-box;
}

.secciones article{
	padding: 30px;
}

.secciones article p{
	text-align: justify;
}


@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 20px;
	}
}

/*saludo inicial-----------------*/
.contenedor{
    width: 800px;
    height: 45px;
    font-size: 30px;
    line-height: 40px;
    overflow: hidden;
    margin: auto;
    margin-top: 0px;
    background-color: rgb(0, 0, 0);
}
.saludo{
    list-style: none;
    padding: 0;
    margin-left: 40%;
    animation: cambiar 7s infinite;
}
.saludo li{
    margin: 0;
    color:#ffffff;
    font-family: 'Fredericka the Great', cursive;
}
@keyframes cambiar{
    0%{margin-top: 0;}
    20%{margin-top: 0;}
    
    25%{margin-top: -40px;}
    50%{margin-top: -40px;}
    
    55%{margin-top: -80px;}
    80%{margin-top: -80px;}
    
    85%{margin-top: -120px;}
    95%{margin-top: -120px;}
    
    100%{margin-top: 0;}
}
@media  (max-width:700px){
    .contenedor{
        width:none;
    
		flex-basis: 0;
		flex-grow: 1;
       
        
    }@media(max-width:400px) {
        .contenedor {
            width:324px;
            flex-basis: 0;
		flex-grow: 1;
        }
    }
 
}

@media only screen and (min-width:324px) and (max-width:800px){
    .saludo{
        margin-left: 29%;
    }
 
}

/*seccion 1----------------*/
#tab1 p{
	font-family: 'Indie Flower';
	margin-top: 5%;
    margin-left: 13%;	
    font-size: 20px;
}

.banner{
    width: 700px;
    height: 400px;
    margin: auto;
    border: 0px solid #fff;
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
}
@keyframes banner{
    0%, 20%{
        background-image: url(imagenes/logo3.JPG);
        opacity: 1;
    }
    21%, 24%{
        opacity: 0.5;
    }
    25%, 45%{
        background-image: url(imagenes/losDos.png);
        opacity: 1;
    }
    46%, 49%{
        opacity: 0.5;
    }
    50%, 70%{
         background-image: url(imagenes/cajaBlueberry.JPG);
        opacity: 1;
    }
    71%, 74%{
        opacity: 0,5;
    }
    75%, 100%{
        background-image: url(imagenes/cajaNaranja.JPG);
    }
}
@media only screen and (min-width:250px) and (max-width:700px){
    .banner{
        width:250px;
        height: 150px;
    }
 
}

/*seccion 2-----------------*/
#tab2 h1{
    font-family: 'Indie Flower';
    margin-left: 35%;
    font-size: 30px;
}
#tab2 p{
    font-family: 'Indie Flower';
    font-size: 20px;
}
#tab2 li{
    font-family: 'Indie Flower';
    font-size: 20px;
}
#tab2 img{
    margin-left: 20%;
    margin-top: 5%;
}
@media screen and (max-width: 450px){
	#tab2 p{
		font-size: 11px;
    }
    #tab2 img{
        width:150px;
        height: 150px;
       
    }

}


/*seccion 3-----------------*/

.item {
	display: none;
    padding: 20px;
    animation: aparecer 1.2s forwards
    
}

.item:first-child {
    display: flex;

}

.info {
    padding: 20px;
   
}
.info p {
	padding: 20px
}

.arrows {
    text-align: center;
    
}

.arrows div{
	color: #111;
	margin: 0 30px;
	transition: all 0.12s;
	font-size: 70px;
}

.arrows div:hover{
	color: #555;
	font-size: 80px;
	margin-top: -8px;
}

img {
    width: 400px
 
}


@keyframes aparecer {
	0% {
		opacity: 0.4
	}
	100% {
		opacity: 1
	}
}

#tab3 h1{
    font-family: 'Indie Flower';
}

#tab3 h2{
    color: red;
  
}
@media screen and (max-width: 800px){
	.item{
        width: 200px;
        height: 300px;
		flex-basis: 20%;
        flex-grow: 1;
        padding: 10px;

        
	}.imagen img{
        width: 200px;
        height: 120px;
        margin-top: 73%;
        

    }.item .info{
        font-size: 7px;
        position: absolute;
        margin-bottom: 20%;
       
    }.arrows  div{
        font-size: 30px;
        margin-bottom: 20%;
      
    }.arrows div:hover{
        
        font-size: 40px;
    }.info p{
        margin-right: 40%;
       
    }
  
}



/*seccion 4-----------------*/
#tab4 h1{
    font-family: 'Indie Flower';
    
}

#tab4 p{
    font-family: 'Indie Flower';
    
}
#tab4 h2{
    font-family: 'Indie Flower';
    margin-left: 40%;
}
.btn{
    border-radius: 3px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    margin-left: 42%; 
}

.btn-green{
    color: white;
    background-color: #3CC93F;
}
.btn-green:hover{
    background-color: #37B839;	
}
.btn-green:active{
    background-color: #29962A;
}

@media only screen and (min-width:200px) and (max-width:800px){
    iframe{
     
        width:200px;
        height: 200px;
    }
 
}
@media only screen and (min-width:200px) and (max-width:800px){
    #tab4 h2{
        font-size: 20px;
      margin-left: 30%;
        }
        #tab4 h1{
            font-size: 10px;
          margin-left: 0%;
            } #tab4 p{
                font-size: 10px;
              margin-left: 0%;
                }
 
}
/*redes sociales-----------------*/
.social-networks{
    margin-left: 38%;
    margin-bottom: 3%;
}@media only screen and (min-width:300px) and (max-width:800px){
    .social-networks{
        margin-left: 4%;
        margin-bottom: -19%;
        margin-top: 7%;
        width:350px;
        height: 100px;
    }
 
}
.social-networks a {
    display: inline-flex;
    color: #ffffff;
    height: 48px;
    width: 48px;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 6px;
    transition: transform 0.4s;
}

.social-networks a:hover {
    transform: scale(1.3);
}

.social-networks a.facebook {
    background-color: #3c015e;
}

.social-networks a.twitter {
    background-color: #3c015e;
}

.social-networks a.google {
    background-color: #3c015e;
}

.social-networks a.youtube {
    background-color:#3c015e;
}

.social-networks a.instagram {
    background-color:#3c015e;
}
/*pie de pagina-----------------*/
footer{
margin-top: 1%;
margin-bottom: 1%;
}

